<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>CFBundleName</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Semibold.ttf</string>
		<string>myriadwebpro-bold.ttf</string>
		<string> MyriadPro-Semibold.ttf</string>
		<string> MyriadPro-Regular.ttf</string>
		<string>MyriadPro-Light.ttf</string>
		<string>MyriadPro-Bold.ttf</string>
		<string>myriad-web-pro.ttf</string>
	</array>
</dict>
</plist>
